* {
  font-family: proxima-nova, sans-serif;
}

button.btn.filter-all, button.btn.go_back, button.btn.submit, input.form-control {
  padding: 10px 15px;
  font-size: 14px;
}

#image {
  padding-top: 3em;
  padding-right: 3em;
  float: left;
}

.form-control, .submit {
  float: left;
}

.heading {
  padding-top: 1em;
  text-align: left;
}

.mainWrapper {
  padding-left: 3em;
  padding-right: 3em;
}

.progressBarWrapper {
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}

.unexpected {
  padding-top: 1em;
  padding-bottom: 1em;
}